
<nav class="navbar bg-light">
    <%= image_tag("pokeball.png", height: 30, width: 30) %>
    <div class="container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Player", new_player_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Record Match", new_match_path, class: "nav-link active" %>
        </li>
      </ul>
    </div>
</nav>